TEST_ENV=dev

BASE_URL=https://demowebshop.tricentis.com/

HEADLESS=false

WORKERS=4

RETRIES=0

SLOW_MO=0

LOG_LEVEL=INFO

EXTENT_REPORT=true

REUSE_AUTH_STATE=true

DEMO_APP_PORT=4321

# ============================================================
# Sauce Labs
# ============================================================
# LOCAL, SAUCELAB, HEADLESS, MOBILE
RUN_MODE=SAUCELAB
SAUCE_USERNAME=oauth-seleniumden-d6e81
SAUCE_ACCESS_KEY=8bbeded5-c8ec-4160-9b7d-9aa0f9c4dae8

SAUCE_REGION=eu-central-1

SAUCE_BUILD_NAME=Prakura-Playwright-Enterprise

SAUCE_TUNNEL_NAME=