TEST_ENV=demoshop

BASE_URL=https://vhc-healthcarefe.vercel.app/

HEADLESS=false

WORKERS=4

RETRIES=0

SLOW_MO=0

LOG_LEVEL=INFO

EXTENT_REPORT=true

REUSE_AUTH_STATE=true

DEMO_APP_PORT=4321

# ============================================================
# Sauce Labs
# ============================================================
# LOCAL, SAUCELAB, HEADLESS, MOBILE
RUN_MODE=SAUCELAB
SAUCE_USERNAME=oauth-rkudikala1984-8e046
SAUCE_ACCESS_KEY=de48a644-df4e-42ab-b3ee-e98fdb3a792b

SAUCE_REGION=eu-central-1

SAUCE_BUILD_NAME=Prakura-Playwright-Enterprise

SAUCE_TUNNEL_NAME=